<div [formGroup]="form">
    <input type="password" placeholder="enter your password" class="w-full mb-2 border-2 rounded border-gray-400 p-1"
        formControlName="password">

    <div class="child:rounded child:w-full child:h-2 flex gap-2 mb-2" [ngClass]="{
            'child:bg-green-500': password?.valid,
            'child:bg-gray-500': password?.hasError('required'),
            'child:bg-red-500': password?.hasError('minlength')
        }">
        <div [ngClass]="{
            'bg-red-500': password?.hasError('easy'),
            'bg-yellow-500': password?.hasError('medium')
        }"></div>
        <div class="bg-gray-500" [ngClass]="{
            'bg-yellow-500': password?.hasError('medium')
        }"></div>
        <div class="bg-gray-500"></div>
    </div>
</div>